.commandRed {
    color: red;
}

.box1 {
    background: rgba(255,255,255,.9);
    border-radius: 30px;    
    width: 1000px;
    padding: 30px;
}

.box2 {
    background: rgba(255,255,255,.9);
    border-radius: 30px;    
    width: 655px;
    padding: 30px;
}

.box3 {
    background: rgba(255,255,255,.9);
    border-radius: 30px;    
    width: 655px;
    padding: 30px;
}

ul.nav li a, ul.nav li a:visited {
    color: #00FF00;
}

ul.nav li a:hover, ul.nav li a:active {
    color: black;
}

ul.nav li.active a {
    color: black;
}

body {
    background-image: url("../img/background.jpg");
    background-size: 100% auto;
}

#main {
    width: 50%;
    height: 50%;
}

img {
    border-radius: 0 0 25px 25px;
}

.footer {
  background: black;
  padding: 10px 0;
}

.footer a {
  color: #00FF00;
  font-size: 20px;
  padding: 10px;
}

.footer a:first-child {
  // border-left: 1px solid #70726F;
}

.footer a:hover {
  color: white;
}