<h1>{{selectedCommand.subject}}</h1>

<!--I'll need to pull the KEY, which is the word description from .json file-->
<h2>Description:</h2>  

<!--I'll need to pull the VALUE of the DESCRIPTION KEY-->
<p>{{selectedCommand.description}}</p>

<!--Linux-->
<p>{{selectedCommand.linux-command}}</p>

<!--This will need to be an <a> for an image in the img local folder-->
<!--The name of the image will have to be stored in firebase or .json-->
<p>{{selectedCommand.linux-output}}</p>

<!--Windows-->
<p>{{selectedCommand.windows-command}}</p>

<!--This will need to be an <a> for an image in the img local folder-->
<!--The name of the image will have to be stored in firebase or .json-->
<p>{{selectedCommand.windows-output}}</p>


<button class="btn btn-danger"><a ng-href="#!/commands/{{selectedCommand.id}}/edit">Edit</a></button>
<br>
<br>
<button class="btn btn-danger" ng-click="commandDelete(command.id)">Delete</button>