<h1>New Command</h1>
<form>
	<div class="form-group">
		<label>Command Need</label>
		<input type="text" class="form-control" ng-model="newTask.subject" />
	</div>
	<div class="form-group">
		<label>Description</label>
		<input type="text" class="form-control" ng-model="newTask.description" />
	</div>
	<div class="form-group">
		<label>Linux Command</label>
		<input type="text" class="form-control" ng-model="newTask.linux-command" />
	</div>
	<div class="form-group">
		<label>Linux Output</label>
		<input type="text" class="form-control" ng-model="newTask.linux-output" />
	</div>
	<div class="form-group">
		<label>Windows Command</label>
		<input type="text" class="form-control" ng-model="newTask.windows-command" />
	</div>
	<div class="form-group">
		<label>Windows Output</label>
		<input type="text" class="form-control" ng-model="newTask.windows-output" />
	</div>
	<!-- TODO: bind this button to a function -->
	<button class="btn btn-success" ng-click="addNewItem()">{{btnText}}</button>
</form>
