<!-- <div class="col-xs-12 col-xs-offset-3 main-container">
<div class="box1">
<h1>New Command</h1>
<form>
	<div class="form-group">
		<label>Command Need</label>
		<input type="text" class="form-control" ng-model="newTask.subject" />
	</div>
	<div class="form-group">
		<label>Description</label>
		<input type="text" class="form-control" ng-model="newTask.description" />
	</div>
	<div class="form-group">
		<label>Linux Command</label>
		<input type="text" class="form-control" ng-model="newTask.linuxCommand" />
	</div>
	<div class="form-group">
		<label>Linux Output</label>
		<input type="text" class="form-control" ng-model="newTask.linuxOutput" />
	</div>
	<div class="form-group">
		<label>Windows Command</label>
		<input type="text" class="form-control" ng-model="newTask.windowsCommand" />
	</div>
	<div class="form-group">
		<label>Windows Output</label>
		<input type="text" class="form-control" ng-model="newTask.windowsOutput" />
	</div>
	<div class="form-group">
		<label>Please Upload your Images</label>
		<input type="file" class="form-control-file" id="exampleInputFile" multiple>
	</div>
	<!-- TODO: bind this button to a function -->
	<!-- <button class="btn btn-danger" ng-click="addNewCommand()">{{btnText}}</button>
</form>
</div>
</div> --> 