<div class="col-xs-12 col-xs-offset-6 main-container">
<div class="box3">
<div class="row">
	<div class="col-xs-6">
	<!-- <div class="col-sm"> -->

		<h4>Login with Google</h4>
		<button class="btn btn-danger" ng-click="loginGoogle()">Sign In</button>

	</div>

	<!-- <div class="col-xs-6 text-right">
		<section class="auth-form">
			<h4>Login/Register with Email</h4>
			<div>
				Email: <input type="text" autofocus="true"  ng-model="account.email">
			</div>
			<div>
				Password: <input type="password" ng-model="account.password">
			</div>
			<div>
				<button class="btn btn-info" ng-click="login()">Login</button>

				<button class="btn btn-default" ng-click="register()">Register</button>
			</div>
		</section>
	</div> -->

</div>
</div>
</div>