<nav class="navbar navbar-default" ng-controller="NavCtrl">
	<div class="container-fluid">

		<!-- <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		</div> -->

		<img src="img/logo.png" id="logo">

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
			<!-- <a class="nav-link" ng-href="#!/">Home</a> -->





			


<div class="container">
	<div class="row-fluid">
		<div class="span6">
		<div class="span6">
        <div class="col-md-5">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control" ng-model="searchText.search" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    	</div>
    	</div>
	</div>
</div>



		</div><!-- /.container-fluid -->
</nav>
