<nav class="navbar navbar-default" ng-controller="NavCtrl">
	<div class="container-fluid">
		<div class="row-fluid">

            <div class="col-lg-4" id="first">
               <a href="http://localhost:8080/#!/"><img src="img/logo.png" id="logo"></a>
            </div>

			<div class="col-lg-4" id="second">
				
			</div>

			<div class="col-lg-4" id="third">
				<div id="custom-search-input">
					<div class="input-group col-md-12">
						<input type="text" class="form-control" ng-model="searchText.search" placeholder="Search">
						<span class="input-group-btn">
							<button class="btn btn-info btn-lg" type="button">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</span>
					</div>
				</div>
			</div>

		</div><!-- /.row-fluid -->
	</div><!-- /.container-fluid -->
</nav>